.Admin {
    color: aliceblue;
    text-align: center;
    font-size: calc(16px + 2vmin);
}

.ReadOnlyBox {
    width: 80%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0);
    background-color: dimgray;
    color: black;
    font: inherit;
    font-size: 22px;
    height: 90%; 
    border-radius: 5px;
    margin: auto;
}

.PathRow {
    display: flex;
}

.Box {
    width: 98%;
    margin: 5px auto;
    color: white;
    border: 1px solid black;
    box-shadow: 0 2px 3px black;
}

h2 {
    font-size: 16px;
    text-align: left;
    padding-left: 10px;
}