.RequestSlip {
    z-index: 500;
    position: fixed;
    background-color:  rgb(49, 54, 68);
    left: 2vw;
    right: 2vw;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}

.Header {
    display: inline-flex;
    height: 100px;
    align-items: center;
}

.GridContainer {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 10px;
    position: relative;
    max-width: 100%;
    grid-row-gap: 20px;
    font-size: calc(10px + 2vmin);
}

.ItemA1,
.ItemA2,
.ItemA3,
.ItemA4 {
    grid-column: 1 / span 1;
    margin-top: auto;
    margin-bottom: auto;
}

.ItemB1,
.ItemB2,
.ItemB3 {
    grid-column: 2 / span 5;
    margin-top: auto;
    margin-bottom: auto;
}

.ItemB4 {
    grid-column: 2 / span 1;
    margin-top: auto;
    margin-bottom: auto;
}

.ItemC4 {
    grid-column: 3 / span 1;
    padding-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

.ItemD4 {
    grid-column: 4 / span 1;
    margin-top: auto;
    margin-bottom: auto;
}

.ItemE4 {
    grid-column: 5 / span 1;
    padding-left: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

.ItemE5 {
    grid-column: 6 / span 1;
    margin-top: auto;
    margin-bottom: auto;
}

.GridContainer > div {
    text-align: left;
}

.CenterButtons {
    display: -webkit-flex;
    display: flex; 
    text-align: center;
    font-size: calc(16px + 2vmin);
}

.ButtonPadding,
.CenterButtons Button {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.ReadOnlyBox {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid rgb(0, 0, 0);
    background-color: dimgray;
    color: black;
    font: inherit;
    font-size: 22px;
    height: 100%; 
    border-radius: 5px;
    margin: auto;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.Label {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.Inline {
    display: inline-flex;
    flex-direction: row;
}

@media ( min-width: 550px ) {
    .ItemA1,
    .ItemA2,
    .ItemA3,
    .ItemA4,
    .ItemC4,
    .ItemE4 {
        font-size: calc(8px + 2vmin);
    }
}