.SearchResults {
    color: white;
}

.SearchResults h1 {
    text-align: center;
}

.ListHeader {
    display: flex;
}

.ListHeader Button {
    font-size: 2.0em;
}

.ListHeader p {
    padding-top: 0.9em;
    padding-right: 10px;
}

.SearchHeader {
    width: 100%;
    position: relative; 
    display: inline-flex;
}

.SearchHeader h1 {
    padding-left: 10px;
    left: 0;
    margin-top: auto;
    margin-bottom: auto;
}

.SearchHeaderRight {
    position: absolute;
    display: inline-flex;
    right: 0;
    padding-right: 10px;
    margin: auto;
}

.Mic{
    height: 25px;
    padding: 5px;
    margin: auto;
}

@media ( max-width: 539px ) {

    .SearchHeaderRight {
        position: relative;  
    }
}